@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, a {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $fontColor;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

li {list-style-type: none;}

html {font-size: 16px;}

body {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    background-color: $bodyBackgroundColor;
}

//Set sizes
.icon {
    width: 24px;
    height: 24px;
}

