@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Rajdhani:wght@400;500;600;700&family=Share+Tech+Mono&display=swap');
*,
a {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $fontColor;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

li {
    list-style-type: none;
}

.app_container {
    font-size: 14px;

    &.mobile {
        font-size: 12px;

        main {
            padding: 6px;
        }
    }
}

body {
    font-family: "Lato", sans-serif;
    height: 100vh;
    background-color: $bodyBackgroundColor;
}

main {
    height: calc($trackingbarHeight + 200px - 100vh);
}

.expColor {
    color: $expColor
}

.levelColor {
    color: $levelColor
}

@keyframes timerActiveAnimation {
    0% {
        color: limegreen;
    }

    50% {
        color: rgb(255, 255, 255);
    }

    100% {
        color: limegreen;
    }
}

@keyframes rowActiveAnimation {
    0% {
        background-color: #692168;
    }

    50% {
        background-color: #3e0d3d;
    }

    100% {
        background-color: #692168;
    }
}

@keyframes mapIconActiveAnimation {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(2);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes mapIconActiveAnimation2 {
    0% {
        width: 26px;
        margin: -13px 0 0 -13px;
    }

    50% {
        width: 36px;
        margin: -18px 0 0 -18px;
    }

    100% {
        width: 26px;
        margin: -13px 0 0 -13px;
    }
}

*[data-rowAndTimeActive] {
    animation: rowActiveAnimation 0.7s linear infinite;

    .timeDisplay {
        animation: timerActiveAnimation 0.7s linear infinite;
    }
}

*[data-rowActive] {
    animation: rowActiveAnimation 0.7s linear infinite;
}

*[data-timeActive] {
    animation: timerActiveAnimation 0.7s linear infinite;
}

*[data-map-icon-active] {
    animation: mapIconActiveAnimation 0.7s linear infinite;
    opacity: 0.5;
}

*[data-rowFocused] {
    transition: border-left 0.7s ease;
    border-left: 4px solid rgb(96, 96, 231) !important;
}


/*********************************************************
Default Styles
*********************************************************/

.star-canvas {
    position: fixed;
    z-index: 1;
}

.iconSize {
    width: 24px;
    height: 24px;
    aspect-ratio: 1 / 1;
    margin-right: 6px;
}

.iconSize2 {
    width: 14px;
    height: 14px;
    aspect-ratio: 1 / 1;
    margin: 0 4px;
}

.iconSize3 {
    width: 170px;
    height: 120px;
    margin: 0 4px;
}

.trackingIcon {
    border-radius: 4px;
    border: 1px solid rgba(101, 77, 237, 0.603);
    background-color: rgba(59, 45, 135, 0.603);
    box-shadow: 1px 1px 3px #000;

    &:active {
        box-shadow: inset 1px 1px 3px #000;
    }

    &.remove {
        filter: grayscale(1);
    }
}

.overviewListItem {
    background-color: $listBackgroundColor;
    border-radius: $borderRadius;
    cursor: pointer;
    transition: all .07s linear;
    margin: 2px auto;
    padding: 4px;
    border-left: 4px solid transparent;

    &:hover {
        background-color: $listBackgroundColorHover
    }

    &_header {
        padding: 5px 0.5rem;
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        justify-content: space-between;

        .forceright {
            justify-self: end;
            display: flex;
            align-items: center;
        }
    }

    hr {
        width: 94%;
        margin: 4px auto;
    }

    &_body {
        padding: 5px 0.5rem;
    }

    &_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

        li {
            padding: 3px 2px;
            text-align: center;
        }
    }


}










/*********************************************************
Sidebar
*********************************************************/

.sidebar {
    position: fixed;
    left: 0;
    top: $trackingbarHeight + 1px;
    height: calc(100vh - ($trackingbarHeight + 1px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $borderColor;
    transition: all .23s ease;
    overflow: hidden auto;
    background-color: $bodyBackgroundColor;
    min-height: 600px;
    z-index: 9;

    &.compact {
        width: $sidebarWidthCollapse
    }

    &.mobile {
        display: block;
    }

    &_clockdisplay {
        padding-top: 2rem;
        margin: 10px 0;

        p,
        h2 {
            text-align: center;
            cursor: pointer;
            user-select: none;
        }

        h2 {
            font-size: 3rem;
        }

        &.collapsed h2 {
            font-size: 2rem;
        }
    }

    .linkList {
        margin: 10px 0;

        &-extended {
            display: inline-flex;
            align-items: center;
            gap: 7px;
            user-select: none;
            transition: all 0.05s linear;
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
            width: 100%;

            &:hover {
                background-color: $borderColorHover;
                padding-left: 2rem;
            }
        }

        &-collapse {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            transition: background-color 0.05s linear;

            &:hover {
                background-color: $borderColorHover;
            }

            width: 100%;
            padding: 0.5rem 0;
        }

        .currentPage div {
            background-color: $borderColor;
        }
    }

    footer {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.75rem;
        text-align: center;

        p {
            margin: 1rem 0.5rem;
        }
    }
}





/*********************************************************
Trackingbar
*********************************************************/

.trackingbar {
    background-color: $bodyBackgroundColor;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid $borderColor;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    &.mobile,
    &.tablet {
        .trackingbar_header {
            justify-content: end;
        }
    }

    &.mobile {
        .trackingbar_items {
            display: none
        }
    }

    &_header {
        min-width: $sidebarWidthExpand - 1px;
        height: $trackingbarHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.05s ease;

        h1 {
            font-size: 2rem;
        }
    }

    &_items {
        width: 100%;
        height: $trackingbarHeight;
        overflow-y: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        padding-right: 1rem;
    }

    &_item {
        width: clamp(250px, 100%, 400px);
        height: $trackingbarHeight - 12px;
        margin: 6px 0;
        border: 2px solid $borderColor;
        background-color: $trackingbarBackgroundColor;
        padding: 3px 6px;
        display: flex;
        flex-direction: column;

        .toprow,
        .bottomrow {
            display: flex;
            height: 26px;
            width: 100%;
            align-items: center;
        }

        .toprow {
            justify-content: space-between;
        }

        .bottomrow {
            justify-content: space-evenly;
        }
    }
}




/*********************************************************
Details Menu
*********************************************************/
.details {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(400px + 2rem);
    height: calc(100vh - $trackingbarHeight - 1px);
    padding: 0.25rem 1rem;
    background-color: $bodyBackgroundColor;
    border-left: 1px solid $borderColor;
    display: flex;
    flex-direction: column;
    z-index: 999;

    &_close {
        display: flex;
        align-items: center;

        &-btn {
            img {
                cursor: pointer;
            }

            width: 40px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-name {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    &_map {
        height: 400px;
    }

    .miniMap {
        transform: scale(0.5);
        transform-origin: top left;
    }

    &_location {
        text-align: center;
        margin-top: 0.5rem;
    }

    &_content {
        margin-top: 1rem;

        &-requirements {
            li {
                display: grid;
                grid-template-columns: 80px auto;
                justify-content: space-between;
                align-items: center;
                padding: 4px;

                p:nth-of-type(2) {
                    text-align: right;
                }

                p::first-letter {
                    text-transform: capitalize;
                }

                .timeAndWeather {
                    display: inline-flex;
                    gap: 4px;

                    span:first-of-type {
                        margin-right: 10px;
                    }
                }
            }
        }

        &-name {
            font-size: 1.2rem;
            text-align: center;
            padding: 0.2rem 0;
        }

        .isBlock {
            border: 1px solid #fff;
            padding: 0.5rem;
            text-align: center;
            margin-top: 1rem;
        }

        &-pairedCells {
            display: flex;
            width: 100%;
            justify-content: space-around;
            gap: 0 10px;

            &>div {
                display: flex;
                justify-content: center;
                width: 50%;
                text-align: center;
                flex-direction: column;
            }
        }

        &-previewAndGuide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 10px;

            .vistaPreviewImg {
                background-size: cover;
                aspect-ratio: 1 / 1;
                border: 1px solid #fff;
                cursor: pointer;
                transition: all 0.07 linear;
                user-select: none;
                width: 160px;
                height: 160px;

                &:hover {
                    box-shadow: inset 0px 0px 4px #fff,
                        0px 0px 4px #fff;
                }
            }

            p {
                text-align: center;
            }
        }

        &-notes {
            margin-top: 0.5rem;
            width: 100%;
            text-align: center;

            span {
                font-weight: bold;
            }
        }

        &-questName,
        &-unlockName {
            h3 {
                margin-bottom: 0.3rem;
            }
        }
    }
}



/*********************************************************
Across all Router Views
*********************************************************/
.body_content {
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filterbar {

    .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 3rem;
        max-width: 1200px;
    }

    &_group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.rdrTable {
    width: 100%;

    &_split {
        border: 1px solid $borderColor;
        margin: 10px 0;
    }

    &_row {
        display: grid;
        gap: 10px;
        align-items: center;
        border-radius: $borderRadius;
        padding: 6px 10px;
        margin: 2px 0;
    }

    &_body {
        .rdrTable_row {
            background-color: $listBackgroundColor;

            &:hover {
                background-color: $listBackgroundColorHover
            }

            &-tracking {
                display: inline-flex;
            }

            &-name {
                p {
                    display: inline-flex
                }

                span {
                    color: grey;
                }

                img {
                    transform: translateY(2px)
                }
            }

            &-emote {
                display: flex;
                align-items: center;
            }
        }
    }

    .hasContext {
        position: relative;
        cursor: pointer;

        &::before {
            content: attr(data-context);
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $borderColor;
            color: white;
            padding: 2px 6px;
            border-radius: $borderRadius;
            box-shadow: 3px 3px 4px #000;
            font-size: 0.75rem;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease-in-out;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}





/*********************************************************
1_Eorzea Overview
*********************************************************/
.eorzeaOverview {

    &.desktop-small,
    &.desktop-large {
        .mapContext {
            width: calc(100% - 660px);
        }
    }

    .mapContext {
        min-width: 400px;
        display: flex;
        gap: 20px;
        padding: 10px;
        border-radius: $borderRadius;

        &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            &-zonesearch {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            &-tabbar {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 0 14px;

                .tab {
                    border: 1px solid $buttonBackgroundColor;
                    border-radius: $borderRadius;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    user-select: none;
                    cursor: pointer;

                    img {
                        margin: 0;
                    }

                    transition: background-color 0.03s linear;

                    &:hover {
                        background-color: $buttonBackgroundColorHover;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        opacity: 0.1;
                        filter: grayscale(1);
                    }

                    &.activeTab {
                        background-color: $buttonBackgroundColor;
                    }
                }
            }

            &-searchbar {
                display: flex;
                justify-content: center;
            }
        }
    }
}



/*********************************************************
2_Timed Mining/Botany
*********************************************************/
.timedNodes {

    &.mobile {
        .filterbar .btn {
            margin: 6px 5px;
        }

        .pagenation_item {
            margin: 3px 5px;
        }
    }

    .pagenation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 90%;

        &_item {
            width: 32px;
            user-select: none;
            aspect-ratio: 1/1;
            border-radius: 4px;
            background-color: $bodyBackgroundColor;
            border: 1px solid $buttonBackgroundColor;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            margin: 0.5rem 1rem;
            cursor: pointer;

            &.pageActive {
                background-color: $buttonBackgroundColor;
            }

            &:hover {
                background-color: $buttonBackgroundColorHover;
            }
        }
    }

    //Default Layout
    .rdrTable_row {
        grid-template-columns: 80px 400px 100px 100px 120px auto;
    }

    //Tablet View
    .rdrTable.tablet {
        .rdrTable_row {
            grid-template-columns: 60px 200px 80px 80px 80px auto;
        }
    }

    //Mobile View
    .rdrTable.mobile {
        .rdrTable_header {
            display: none
        }

        .rdrTable_split {
            display: none;
        }

        .rdrTable_row {
            grid-template-columns: 60px auto;
        }

        .rdrTable_row-attributes {
            display: none;
        }

        .rdrTable_row-level {
            display: none;
        }
    }
}



/*********************************************************
3_Sigthseeing
*********************************************************/
.sightseeVistas {

    .vistaNote {
        text-align: center;
        width: 100%;

        p {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            span {
                margin-left: 4px;
            }

            img {
                margin: 0 2px 0 2px;
            }
        }
    }

    .rdrTable_row {
        grid-template-columns: 80px 80px 300px 100px 120px 120px auto;
    }

    .rdrTable.tablet {
        .rdrTable_row {
            grid-template-columns: 80px 40px 100px 100px 120px 120px auto;
        }
    }

    .rdrTable.mobile {
        .rdrTable_header {
            display: none
        }

        .rdrTable_split {
            display: none;
        }

        .rdrTable_row {
            grid-template-columns: 60px 100px auto;
        }

        .rdrTable_row-no {
            display: none
        }
    }
}



/*********************************************************
4_Aether Currents
*********************************************************/
.aetherCurrents {

    .breakspace {
        margin-bottom: 2rem;
    }

    .rdrTable_row {
        grid-template-columns: 80px 300px 300px auto;
    }

    .rdrTable_row-quest,
    .rdrTable_row-unlock {
        display: flex;
        align-items: center;
    }

    .rdrTable_row-quest .hasContext {
        margin-right: 6px;
    }

    .rdrTable.tablet {
        .rdrTable_header {
            display: none
        }

        .rdrTable_split {
            display: none;
        }

        .rdrTable_row {
            grid-template-columns: 1fr 1fr;
        }

        .rdrTable_row-area {
            grid-column: 1 / span 2;
        }
    }

    .rdrTable.mobile {
        .rdrTable_header {
            display: none
        }

        .rdrTable_split {
            display: none;
        }

        .rdrTable_row {
            grid-template-columns: 1fr;
        }

        .rdrTable_row-no {
            display: none
        }
    }
}



/*********************************************************
5_Bluemage Abilities
*********************************************************/
.blueMageAbilties {

    .rdrTable_row {
        grid-template-columns: 140px 100px 300px 300px auto;
    }

    .rdrTable.mobile,
    .rdrTable.tablet {
        .rdrTable_header {
            display: none
        }

        .rdrTable_split {
            display: none;
        }

        .rdrTable_row {
            grid-template-columns: auto auto;
        }

        .rdrTable_row-area {
            grid-column: 1 / span 2;
        }
    }
}



/*********************************************************
6_News
*********************************************************/
.radarNews {

    &.mobile {
        .bulleton {
            grid-template-columns: auto;
        }

        .bulleton_profileImg {
            display: none
        }
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .bulleton {
        max-width: 800px;
        min-width: 300px;
        margin: 40px auto;
        background-color: $listBackgroundColorHover;
        padding: 1rem 2rem;
        border-radius: $borderRadius;
        display: grid;
        gap: 10px;
        grid-template-columns: 0.5fr 1.5fr;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        &_postdate {
            opacity: 0.7;
            font-style: italic;
        }

        hr {
            margin: 0.5rem 10px;
        }

        &_details {
            padding: 0 20px;
        }

        li {
            margin-bottom: 8px;
        }

        .bulleton_list-tier1>li {
            list-style-type: decimal;
            margin-bottom: 0.5rem;
        }

        .bulleton_list-tier2>li {
            list-style-type: circle;

        }
    }
}


/*********************************************************
7_About Us
*********************************************************/
.aboutUs {

    .about {
        max-width: 800px;
        min-width: 300px;
        margin: 40px auto;
    }

    h1 {
        text-align: center;
        margin: 2rem auto;
    }

    h2 {
        margin: 20px 0px;
    }

    p,
    ul {
        margin-bottom: 1rem;
    }

    li {
        margin: 6px 0;
    }
}


/*********************************************************
8_Private Policy
*********************************************************/
.policy {
    width: 96%;
    margin: 0 auto;

    .group {
        width: 96%;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        margin: 2rem auto;
    }

    h2,
    h3,
    h4,
    h6 {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    h4:not(.voidspace) {
        margin-top: 1.5rem;
    }

    h4,
    h5 {
        font-weight: bold
    }

    h5 {
        margin-top: 1rem;
    }

    hr {
        margin: 0.75rem;
    }

    p,
    ul {
        margin: 0.25rem 0;
    }

    .contact {
        margin-bottom: 1rem;
    }

    ul {
        margin-left: 2rem;
    }

    li {
        list-style-type: circle;
    }
}



