//Colors
$fontColor: #ccc;
$bodyBackgroundColor: #121212;
$borderColor: #5b045b;
$borderColorFade: rgba(91, 4, 91, 0.67);
$trackingOptionsView: #5b045b;
$trackingOptionsRemove: #3b063b;
$listOddRowColor: #045d5d36;

//Measurements
$borderRadius: 4px;
$sidebarWidthExpand: 270px;
$sidebarWidthCollapse: 80px;
$trackingbarHeight: 70px;
$paddingSize: 0.5rem;





